# Introduction

Using this Python notebook you will:

1.  Understand three Chicago datasets
2.  Load the three datasets into three tables in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Understand the datasets

To complete the assignment problems in this notebook you will be using three datasets that are available on the city of Chicago's Data Portal:

1.  <a href="https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Socioeconomic Indicators in Chicago</a>
2.  <a href="https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Chicago Public Schools</a>
3.  <a href="https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Chicago Crime Data</a>

### 1. Socioeconomic Indicators in Chicago

This dataset contains a selection of six socioeconomic indicators of public health significance and a “hardship index,” for each Chicago community area, for the years 2008 – 2012.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
[https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2](https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 2. Chicago Public Schools

This dataset shows all school level performance data used to create CPS School Report Cards for the 2011-2012 school year. This dataset is provided by the city of Chicago's Data Portal.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
[https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t](https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 3. Chicago Crime Data

This dataset reflects reported incidents of crime (with the exception of murders where data exists for each victim) that occurred in the City of Chicago from 2001 to present, minus the most recent seven days.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
[https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2](https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### Download the datasets

This assignment requires you to have these three tables populated with a subset of the whole datasets.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the links below to download and save the datasets (.CSV files):

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01" target="_blank">Chicago Census Data</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01" target="_blank">Chicago Public Schools</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01" target="_blank">Chicago Crime Data</a>

**NOTE:** Ensure you have downloaded the datasets using the links above instead of directly from the Chicago Data Portal. The versions linked here are subsets of the original datasets and have some of the column names modified to be more database friendly which will make it easier to complete this assignment.

### Store the datasets in database tables

To analyze the data using SQL, it first needs to be loaded into SQLite DB.
We will create three tables in as under:

1.  **CENSUS_DATA**
2.  **CHICAGO_PUBLIC_SCHOOLS**
3.  **CHICAGO_CRIME_DATA**

Let us now load the ipython-sql  extension and establish a connection with the database

*   Here you will be loading the csv files into the pandas Dataframe and then loading the data into the above mentioned sqlite tables.

*   Next you will be connecting to the sqlite database  **FinalDB**.

Refer to the previous lab for hints .

<a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing_SQLite.ipynb?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork22-2022-01-01">Hands-on Lab: Analyzing a real World Data Set</a>

In [1]:
import sqlite3
try:
    conn = sqlite3.connect('./FinalDB.db')
    print('Succesfully connected to FinalDB')
except Exception as e:
    print('Some error occured', e)

Succesfully connected to FinalDB

## Problems

Now write and execute SQL queries to solve assignment problems

### Problem 1

##### Find the total number of crimes recorded in the CRIME table.

In [2]:
cur = conn.execute("SELECT COUNT(ID) as 'Total Crimes' FROM ChicagoCrime;")
print(cur.description[0][0])

for row in cur:
    print(row)

Total Crimes
(533,)

### Problem 2

##### List community areas with per capita income less than 11000.

In [3]:
cur = conn.execute('''SELECT COMMUNITY_AREA_NAME as 'Community Area', PER_CAPITA_INCOME as 'Income'
                        FROM ChicagoCensus
                        WHERE PER_CAPITA_INCOME < 11000;''')
for colInfo in cur.description:
    print(colInfo[0], end = ' ')
print()

for row in cur:
    print(row)

Community Area Income
('West Garfield Park', 10934)
('South Lawndale', 10402)
('Fuller Park', 10432)
('Riverdale', 8201)

### Problem 3

##### List all case numbers for crimes  involving minors?(children are not considered minors for the purposes of crime analysis)

In [4]:
cur = conn.execute('''SELECT CASE_NUMBER, PRIMARY_TYPE, DESCRIPTION
                        FROM ChicagoCrime
                        WHERE PRIMARY_TYPE LIKE '%CHILD%'
                        OR DESCRIPTION LIKE '%CHILD%'
                        or DESCRIPTION LIKE '%MINOR%';''')
for colInfo in cur.description:
    print(colInfo[0], end = ' ')
print()

for row in cur:
    print(row)

CASE_NUMBER PRIMARY_TYPE DESCRIPTION
('HN567387', 'OFFENSE INVOLVING CHILDREN', 'AGG SEX ASSLT OF CHILD FAM MBR')
('HR391350', 'OFFENSE INVOLVING CHILDREN', 'SEX ASSLT OF CHILD BY FAM MBR')
('HM768251', 'OFFENSE INVOLVING CHILDREN', 'CRIM SEX ABUSE BY FAM MEMBER')
('HT394616', 'OFFENSE INVOLVING CHILDREN', 'AGG CRIM SEX ABUSE FAM MEMBER')
('HL266884', 'LIQUOR LAW VIOLATION', 'SELL/GIVE/DEL LIQUOR TO MINOR')
('HK238408', 'LIQUOR LAW VIOLATION', 'ILLEGAL CONSUMPTION BY MINOR')
('HN144152', 'KIDNAPPING', 'CHILD ABDUCTION/STRANGER')

### Problem 4

##### List all kidnapping crimes involving a child?

In [5]:
cur = conn.execute('''SELECT ID, CASE_NUMBER, PRIMARY_TYPE, DESCRIPTION
                        FROM ChicagoCrime
                        WHERE PRIMARY_TYPE = 'KIDNAPPING';''')
for colInfo in cur.description:
    print(colInfo[0], end = ' ')
print()

for row in cur:
    print(row)

ID CASE_NUMBER PRIMARY_TYPE DESCRIPTION
(5276766, 'HN144152', 'KIDNAPPING', 'CHILD ABDUCTION/STRANGER')

### Problem 5

##### What kinds of crimes were recorded at schools?

In [6]:
cur = conn.execute('''SELECT PRIMARY_TYPE, DESCRIPTION, LOCATION_DESCRIPTION
                        FROM ChicagoCrime
                        WHERE LOCATION_DESCRIPTION LIKE '%SCHOOL%';''')
for colInfo in cur.description:
    print(colInfo[0], end = ' ')
print()

for row in cur:
    print(row)

PRIMARY_TYPE DESCRIPTION LOCATION_DESCRIPTION
('BATTERY', 'SIMPLE', 'SCHOOL, PUBLIC, GROUNDS')
('BATTERY', 'PRO EMP HANDS NO/MIN INJURY', 'SCHOOL, PUBLIC, BUILDING')
('BATTERY', 'SIMPLE', 'SCHOOL, PUBLIC, BUILDING')
('BATTERY', 'SIMPLE', 'SCHOOL, PUBLIC, BUILDING')
('BATTERY', 'SIMPLE', 'SCHOOL, PUBLIC, GROUNDS')
('CRIMINAL DAMAGE', 'TO VEHICLE', 'SCHOOL, PUBLIC, GROUNDS')
('NARCOTICS', 'POSS: HEROIN(WHITE)', 'SCHOOL, PUBLIC, GROUNDS')
('NARCOTICS', 'MANU/DEL:CANNABIS 10GM OR LESS', 'SCHOOL, PUBLIC, BUILDING')
('ASSAULT', 'PRO EMP HANDS NO/MIN INJURY', 'SCHOOL, PUBLIC, GROUNDS')
('CRIMINAL TRESPASS', 'TO LAND', 'SCHOOL, PUBLIC, GROUNDS')
('PUBLIC PEACE VIOLATION', 'BOMB THREAT', 'SCHOOL, PRIVATE, BUILDING')
('PUBLIC PEACE VIOLATION', 'BOMB THREAT', 'SCHOOL, PUBLIC, BUILDING')

### Problem 6

##### List the average safety score for each type of school.

In [7]:
cur = conn.execute('''SELECT NAME_OF_SCHOOL, SAFETY_SCORE
                        FROM ChicagoSchools LIMIT 10;''')
for colInfo in cur.description:
    print(colInfo[0], end = ' ')
print()

for row in cur:
    print(row)

NAME_OF_SCHOOL SAFETY_SCORE
('Abraham Lincoln Elementary School', 99)
('Adam Clayton Powell Paideia Community Academy Elementary School', 54)
('Adlai E Stevenson Elementary School', 61)
('Agustin Lara Elementary Academy', 56)
('Air Force Academy High School', 49)
('Albany Park Multicultural Academy', 66)
('Albert G Lane Technical High School', 88)
('Albert R Sabin Elementary Magnet School', 67)
('Alcott High School for the Humanities', 70)
('Alessandro Volta Elementary School', 43)

### Problem 7

##### List 5 community areas with highest % of households below poverty line

In [8]:
# DOESN'T WORK IN SQLITE:
# cur = conn.execute('''SELECT TOP 5 COMMUNITY_AREA_NAME, PERCENT_HOUSEHOLDS_BELOW_POVERTY
#                         FROM ChicagoCensus
#                         ORDER BY PERCENT_HOUSEHOLDS_BELOW_POVERTY DESC;''')
cur = conn.execute('''SELECT COMMUNITY_AREA_NAME, PERCENT_HOUSEHOLDS_BELOW_POVERTY
                        FROM ChicagoCensus
                        ORDER BY PERCENT_HOUSEHOLDS_BELOW_POVERTY DESC LIMIT 5;''')
for colInfo in cur.description:
    print(colInfo[0], end = ' ')
print()

for row in cur:
    print(row)

COMMUNITY_AREA_NAME PERCENT_HOUSEHOLDS_BELOW_POVERTY
('Riverdale', 56.5)
('Fuller Park', 51.2)
('Englewood', 46.6)
('North Lawndale', 43.1)
('East Garfield Park', 42.4)

### Problem 8

##### Which community area is most crime prone?

In [9]:
cur = conn.execute('''SELECT COMMUNITY_AREA_NAME as 'Community Area',
                        Frequency as 'Crime Rate'
                        FROM ChicagoCensus join (
                            SELECT COMMUNITY_AREA_NUMBER, COUNT(COMMUNITY_AREA_NUMBER) as Frequency
                            from ChicagoCrime
                            GROUP BY COMMUNITY_AREA_NUMBER
                            HAVING Frequency = (
                                SELECT COUNT(COMMUNITY_AREA_NUMBER) as Frequency
                                FROM ChicagoCrime
                                GROUP BY COMMUNITY_AREA_NUMBER
                                ORDER BY Frequency DESC LIMIT 1
                            )
                        ) as CRIME_RECORDS
                        ON ChicagoCensus.COMMUNITY_AREA_NUMBER = CRIME_RECORDS.COMMUNITY_AREA_NUMBER
                        ORDER BY Frequency DESC;''')


for colInfo in cur.description:
    print(colInfo[0], end = ', ')
print()

for row in cur:
    print(row)

Community Area, Crime Rate,
('Austin', 43)

### Problem 9

##### Use a sub-query to find the name of the community area with highest hardship index

In [10]:
cur = conn.execute('''SELECT COMMUNITY_AREA_NAME, HARDSHIP_INDEX
                        FROM ChicagoCensus
                        WHERE HARDSHIP_INDEX = (
                            SELECT MAX(HARDSHIP_INDEX) as HARDSHIP_INDEX
                            FROM ChicagoCensus
                        );''')
for colInfo in cur.description:
    print(colInfo[0], end = ', ')
print()

for row in cur:
    print(row)

COMMUNITY_AREA_NAME, HARDSHIP_INDEX,
('Riverdale', 98)

### Problem 10

##### Use a sub-query to determine the Community Area Name with most number of crimes?

In [11]:
cur = conn.execute('''SELECT COMMUNITY_AREA_NAME as 'Community Area',
                        Frequency as 'Crime Rate'
                        FROM ChicagoCensus join (
                            SELECT COMMUNITY_AREA_NUMBER, COUNT(COMMUNITY_AREA_NUMBER) as Frequency
                            from ChicagoCrime
                            GROUP BY COMMUNITY_AREA_NUMBER
                            HAVING Frequency = (
                                SELECT COUNT(COMMUNITY_AREA_NUMBER) as Frequency
                                FROM ChicagoCrime
                                GROUP BY COMMUNITY_AREA_NUMBER
                                ORDER BY Frequency DESC LIMIT 1
                            )
                        ) as CRIME_RECORDS
                        ON ChicagoCensus.COMMUNITY_AREA_NUMBER = CRIME_RECORDS.COMMUNITY_AREA_NUMBER
                        ORDER BY Frequency DESC;''')


for colInfo in cur.description:
    print(colInfo[0], end = ', ')
print()

for row in cur:
    print(row)

Community Area, Crime Rate,
('Austin', 43)

In [12]:
conn.close()

Copyright © 2020 This notebook and its source code are released under the terms of the [MIT License](https://bigdatauniversity.com/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).